<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css">

    <link rel="shortcut icon" href="assets/img/ico/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/ico/ico-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/ico/ico-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/ico/ico.png">


    <link rel="stylesheet" href="assets/css/index.css"> <!-- TODO mudar para scss-->
    <title>IMC | Igreja Monte Carmelo</title>
</head>

<body>
    <header class="menu navbar">
        <div class="container">
            <img src="assets/img/logo_verde.png">
            <nav class="d-none d-sm-block">
                <a href="#inicio">Início</a>
                <a href="#missao">Missão</a>
                <a href="#visao">Visão</a>
                <a href="#encontrenos">Encontre-nos</a>
            </nav>
        </div>
    </header>

    {{ content }}

    <div class="footer">
        <p>
            <strong>@Copyright 2020 - Igreja Monte Carmelo</strong><br>
            Todos os direitos reservados.
        </p>
    </div>
</body>
<script src="assets/plugins/jquery-3.3.1.slim.min.js"></script>
<script src="assets/plugins/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.js"></script>

</html>
