<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="assets/plugins/open_sans.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="assets/css/index.css"> <!-- TODO mudar para scss-->
    <title>IMC | Igreja Monte Carmelo</title>
</head>

<body>

    <div class="menu">
        <img src="assets/img/logo_verde.png">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Missão</a></li>
                <li><a href="#">Visão</a></li>
                <li><a href="#">Encontre-nos</a></li>
            </ul>
        </nav>
    </div>

    {{ content }}

    <div class="footer">
        <p>
            <b>@Copyright 2020 - Igreja Monte Carmelo</b><br>
            Todos os direitos reservados.
        </p>
    </div>
</body>
<script src="assets/plugins/jquery-3.3.1.slim.min.js"></script>
<script src="assets/plugins/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.js"></script>

</html>